<h1>DragonBall Page</h1>
<hr />

<section>

  <div class="row">

    <div class="col-12 col-sm-6">
      <h3>Agregar</h3>
      <input type="text" name="" id="" class="form-control" placeholder="Nombre"/>
      <input type="number" name="" id="" class="form-control mt-2" placeholder="Poder"/>

      <button class="mt-2 btn btn-primary">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
      <h3>Listado</h3>
      <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div>

</section>
